.siteNav_nav {
	line-height: 15vh;
}
.title {
	background-color: #F0FFF0;
    color: #558C89;
    margin-top: 15px;
    margin-bottom: -30px;
    font-weight: bold;
}


.siteNav {
	align-items: center;
	border-bottom: 3px solid #bcbcbc;
	display: flex;
	font-size: 1.6em;
	height: 15vh;
	justify-content: space-around;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: 1;
	background-color: white;
}

.noDecoration {
	font-family: 'Oswald', sans-serif;
	color: #838383;
}

a:hover {
	color: #006400;
	text-decoration: none;
}

.siteNav_nav_item {
	display: inline-block;
	height: inherit;
	width: 8px;
	text-align: center;
}
.siteNav_brand {
	font-family: 'Bree Serif', serif;
	color: #00CED1;
}

.content {
	margin-top: 15vh;
	background-color: #F0FFF0;
	padding: 80px 0px 135px 0px;
}

#myphoto {
	width: 40%;
    height: 40%;   
    border: 5px solid #fff;
    border-radius: 10px 10px 0 0;
}
h1 {
	color: red;
}
.bio {
	color: #74AFAD;
	font-size: 23px;
    font-family: 'Bree Serif', serif;
}
 

