@media(max-width:768px) {
    #header {
        text-align: center;
    }
    #about hr,
    #contact hr {
        margin: 8% auto;
    }
    #contact {
        text-align: center;
    }
}

.navbar {
    background-color: rgba(21, 31, 33, 0.8);
    border-bottom: 1px solid #dedede;
    padding-right: 50px;
    font-family: 'Alegreya Sans', sans-serif;
}

@media(max-width:768px) {
    .navbar {
        padding-right: 0px;
    }
}

.navbar .nav .nav-item .nav-link {
    color: #fff;
}

.navbar .nav .nav-item .nav-link:hover {
    color: #00CED1;
}

#home {
    background-color: white;
}

.home-button {
    color: #fff;
}

.home-button:hover {
    color: #00CED1;
}

.hvr-underline {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    overflow: hidden;
}

.hvr-underline:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #eee;
    height: 4px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.6s;
    transition-duration: 0.6s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline:hover:before,
.hvr-underline:focus:before,
.hvr-underline:active:before {
    right: 0;
}

.title {
    background-color: white;
    color: #558C89;
    margin-top: 15px;
    margin-bottom: -30px;
    font-weight: bold;
}

.siteNav_brand {
    font-family: 'Bree Serif', serif;
    color: #00CED1;
    font-size: 28px;
}

.content {
    background-color: #F0FFF0;
    padding: 80px 0px 135px 0px;
}

#myphoto {
    width: 50%;
    height: 20%;
    border: 5px solid #fff;
    border-radius: 10px 10px 0 0;
}

.bio {
    color: #74AFAD;
    font-size: 20px;
    font-family: 'Arial';
}

#social_icon_img {
    font-size: 50px;
    margin: 30px;
    margin-left: 10px;
    color: #00CED1;
    font-size: 40px;
}

#projects {
    background-color: white;
    padding-top: 80px;
}

.photo-wrapper {
    min-height: 200px;
    position: relative;
    width: 100%;
    display: inline-block;
}

.photo-wrapper:after {
    padding-top: 56.25%;
    display: block;
    content: '';
}

.photo-wrapper img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.background-white {
    background-color: white;
}

.projects-section-title {
    background-color: white;
    color: #558C89;
    font-weight: bold;
}

.project-container {
    padding: 0;
    margin: 0 auto;
    padding-bottom: 90px;
}

.projName {
    font-family: 'Oswald', sans-serif;
    color: black;
}

.projDesc {
    font-family: 'Bree Serif', serif;
    color: black;
}

.linkbtn {
    margin-top: 40px;
    font-weight: bold;
    margin-left: 50px;
    margin-right: 50px;
}

#experiences {
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.6;
    background-color: white;
    padding-bottom: 1px;
    padding-top: 80px;
}

.experiences-title {
    background-color: white;
    color: #558C89;
    font-weight: bold;
    margin-bottom: -75px;
    margin-top: 18px;
}

.experience-container {
    max-width: 800px;
    margin: 1% auto;
    overflow: hidden;
    padding-top: 75px;
}

.experience-container2 {
    padding-top: 5px;
    max-width: 800px;
    margin: 1% auto;
    overflow: hidden;
}

.experience-image {
    width: 37%;
    float: left;
    vertical-align: middle;
    display: inline-block;
}

.description {
    float: right;
    margin-left: 2%;
    padding-left: 2%;
    width: 50%;
    border-left: #00CED1 solid 2px;
    vertical-align: middle;
    display: inline-block;
    padding-bottom: 60px;
    color: black;
    font-family: 'Bree Serif', serif;
}

.exp-content {
    margin-bottom: 15px;
    margin-bottom: 0;
    font-size: 13px;
}